@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

$roboto : 'Roboto', sans-serif;
$font-bold : 700;
$font-regular:400;
$open-sans: 'Open Sans', sans-serif;
$leckerli-one : 'Leckerli One', cursive;

