
.hello {
    background-size:cover;
    background-position: center right;
    article {
        height:100vh;
        display:table-cell;
        vertical-align: middle;
        min-width: 1%;
        h1 {
            font-size:35px;
        }
    }
}


